<h1>New Category</h1>
 
<%= render 'form' %>
<p > after conflict 3-way merge </p>
 <p > 3-way merge </p>
<%= link_to 'Back', root_path %>
<p> test </p>
 <p>test merge test </p>
<%= link_to 'Back', root_path %>
<p>hi all </p>

